& {
    font-size: 14px;
    width: auto;
    height: 36px;
    line-height: 36px;
    background-color: #0092cc;
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2) inset;
    position: relative;
    border: none;
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    cursor: default;
}

&>input {
    position: absolute;
    opacity: 0;
    -webkit-appearance: none;
    border: none;
    outline: none;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    cursor: pointer;
}

&>.label {
    height: 1em;
    line-height: 1em;
    top: 50%;
    margin-top: -.5em;
    margin-bottom: .5em;
    text-align: inherit;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

&>.track {
    border-radius: inherit;
    transition: opacity .1s ease-in, background-color .1s, box-shadow .1s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: Alpha(opacity=0);
}

&.space>.label {
    padding-left: 5px;
    letter-spacing: 5px;
}

&.hover {
    text-shadow: 0 0 6px #fff;
    >.track {
        background-color: #ffffff;
        opacity: .1;
        box-shadow: inset 0 0 6px 6px #51ddf6, inset 100px -160px 200px -200px #51ddf6,inset 0 0 1000px 1000px #000;
        filter: Alpha(opacity=10);
    }
    &.active {
        >.track {
            background-color: #000000;
            opacity: .2;
            filter: Alpha(opacity=20);
        }
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
    }
}

&:focus {
    box-shadow: 0 0 2px #4aa9b1;
    z-index: 1;
}

.type(@type, @color, @colortext) {
    &[type="@{type}"] {
        color: @colortext;
        background-color: @color;
        border-radius: 3px;
    }
}

.type(candidate, #61d5a6, #fff);
.type(inactive, #94a5bd, #fff);
.type(disabled, #ccc, #fff);
.type(dark, #333, #000);
.type(white, #fff, #666);