& {
    vertical-align: top;
}

>a {
    line-height: inherit;
    margin-right: 10px;
    vertical-align: top;

    >span {
        vertical-align: top;
    }

    .info {
        color: #666;
    }

    &:active {
        border-bottom: 1px solid;
    }
}