& {
    height: .8em;
    width: .8em;
    position: relative;
    border: .1em solid;
    margin-right: .3em;
    font-family: sans-serif;
    display: inline-block;
    line-height: 1;
    text-align: center;
    margin-top: .15em;
    border-radius: .12em;
    vertical-align: middle;

    >s {
        display: none;
        text-decoration: none;
        position: absolute;
        font-weight: bold;
        left: 0;
        right: 0;
        top: -.4em;
    }
}


&.checked {
    >s {
        display: block;
    }
}