& {
    height: .8em;
    width: .8em;
    position: relative;
    border: .1em solid;
    margin: -0.06em .3em -0.06em 0;
    font-family: sans-serif;
    display: inline-block;
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
    border-radius: .12em;

    >s {
        display: none;
        text-decoration: none;
        position: absolute;
        font-weight: bold;
        left: 0;
        right: 0;
        top: -.4em;
    }
}


&.checked {
    >s {
        display: block;
    }
}