& {
    position: relative;
    width: 412px;
    display: block;
    margin: 0 auto;
    height: 260px;
    padding-top: 30px;
}





>.options {
    text-align: right;
    padding: 0 16px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    margin-top: -30px;

    >btn {
        width: auto;
        padding: 0 16px;
        height: 28px;
        line-height: 28px;
        border-radius: 0 0 0 12px;
    }

    >btn:nth-last-child(n+2) {
        padding-right: 32px;
        margin-right: -16px;
    }
}

.padding {
    display: block;
    padding: 8px 0 0;
}

.field-item {
    .index {
        position: absolute;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }

        font-size: 12px;
        margin-top: -13px;
        top: 0;
        left: 6px;
        padding: 0 14px;
        line-height: 1;
        color: #fff;
        border-radius: 8px 0 0 0;
        background: #666;
        display: block;
        border: 1px solid;
        border-color: inherit;
        border-bottom: none;
    }

    border-radius: 3px;
    display: block;
    width: 390px;
    max-width: 100%;
    position: relative;
    border: 1px solid #0006;
    border-left: 4px solid #0006;
    background: #fff;

    &.focus {
        border-color: #39c;

        .index {
            border-color: inherit;
            background: #39c;
        }
    }

    >[field] {
        vertical-align: top;
        position: relative;
        padding: 0;
        width: auto;
        border: none;
        line-height: 28px;
        display: inline-block;
        box-sizing: border-box;
        outline: none;
        appearance: none;
    }

    >[field=name] {
        border-radius: 3px 0 0 3px;
        padding-left: 6px;
        width: 132px;
    }

    >[field=type] {
        min-width: 120px;
    }

    >[field=key] {
        width: 120px;
    }

    >drop {
        line-height: 30px;
        width: 30px;
        text-align: center;
        padding: 0;
        display: none;
    }

    &:hover,
    &:focus {
        >drop {
            display: block;
        }
    }

    >btn {
        padding: 0 6px;
        overflow: hidden;
    }
}

&>.fields {
    overflow: hidden;
    height: 100%;

    >.focus {
        outline: 1px solid #39c;
    }

}

i {
    font-style: normal;
    display: inline-block;
    margin-right: 6px;
}