<div class="options">
    <btn class="add" ng-click=add()><i>+</i>添加</btn>
</div>
<list ng-src='(field,cx) in fields' class="fields">
    <padding>
        <div class="field-item">
            <span class="index" ng-bind='field.id'></span>
            <input @focus="focus(this.parentNode)" @blur="blur(this.parentNode)" placeholder="显示名称"
                ng-model=field.name />
            <input @focus="focus(this.parentNode)" @blur="blur(this.parentNode)" placeholder="键名" ng-model=field.key />
            <select @focus="focus(this.parentNode)" -model="field.type" @blur="blur(this.parentNode)"
                ng-model=field.type >
                <option value="">请选择字段类型</option>
                <option _value="type.key" ng-repeat="type in types" -text="type.name"></option>
            </select>
            <btn ng-click=remove(field)>移除</btn>
        </div>
    </padding>
</list>