& {
    height: auto;
    box-shadow: none !important;
    display: block;
    line-height: 22px;
    border-bottom: 1px;
}

>.head,
>.foot {
    padding: 10px 16px;
    vertical-align: top;
    display: inline-block;
    position: absolute;
}

>model:first-child {
    padding: 6px 10px;
    display: block;
}

model {
    display: inline;
}

>.head {

    .image {
        margin: 10px 0;
    }
}

>.body {
    .image {
        margin: 10px 0;
    }

    vertical-align: top;
    padding: 10px 20px;
    height: 100%;
    border-bottom: 1px solid #0001;
    display: inline-block;
    width: 100%;
    text-align: left;
}

>.track {
    display: none;
    box-shadow: none;
}

>.foot {
    span {
        vertical-align: middle;
    }
}


.input {
    width: 100%;
}

.required {
    color: #c24;
    display: inline-block;
}

&.error,
&[error] {

    model>* {
        background: #f322;
        border-color: #f32;
        outline: 1px solid #f32;
    }

    .error {
        color: #c32;
    }
}