<template a-if="!checkNeeds(field.needs,data)"></template>
<template v-else-if='field?.name'>
    <div class="head">
        <span ng-bind=field.name></span>
        <span class="required" ng-if="field.required">*</span>
    </div>
    <div class="body">
        <model _data=data _field=field _readonly="readonly"></model>
        <container class="error" -src="error"></container>
    </div>
    <div class="foot" ng-if="field.msg">
        <span ng-bind=field.msg></span>
    </div>
</template>
<template v-else>
    <model _data=data _field=field _readonly="readonly"></model>
</template>