& {
    display: block;
    width: 100%;
    position: relative;
    height: 100%;

    >.list {
        vertical-align: top;
        display: inline-block;
        position: relative;
        height: 100%;
        overflow: hidden;
    }
}