& {
    height: 300px;
}

&>gallery {
    height: 100%;
    background-size: 20px 20px;
    background-repeat: repeat;
    border:2px solid transparent;
    background-clip: content-box;
    white-space: nowrap;
    >div{
        background: #fff;
        box-sizing: border-box;
        border: 1px solid transparent;
        display: inline-block;
    }
}