& {
    >div {
        border: 4px dashed #ccc;
        position: absolute;
        min-height: 20px;
        min-width: 20px;
        &:hover {
            border-color: #88f;
        }
        &:active {
            border-color: #66f;
            box-shadow: 0 0 6px -2px rgba(0, 0, 0, .3);
        }
    }
}