& {
    box-sizing: border-box;
    cursor: text;
    border: 1px solid #ced4da;
    padding: 0 6px;
    height: 36px;
    border-radius: 3px;
    font-size: 16px;
}

&::-ms-clear {
    display: none;
}

&::-webkit-inner-spin-button {
    display: none;
}
&::-webkit-inner-spin-button{
    display: none;
}
&::-webkit-calendar-picker-indicator{
    display: none;
}
&::-webkit-calendar-picker-indicator:hover{
    display: none;
}
&::-webkit-clear-button{
    display: none;
}