& {
    @background-size: 20px;
    background-color: #fff;
    background-image: linear-gradient(45deg, #ccc, 25%, #ccc, 25%, rgba(0, 0, 0, 0), 75%, rgba(0, 0, 0, 0), 75%, #ccc), linear-gradient(45deg, #ccc, 25%, #ccc, 25%, rgba(0, 0, 0, 0), 75%, rgba(0, 0, 0, 0), 75%, #ccc);
    background-size: @background-size @background-size;
    background-repeat: repeat, repeat;
    background-position: 0 0, @background-size/2 @background-size/2;
    height: 200px;
}
menu{
    left: 0;
    width: 100%;
    appearance: none;
    display: block;
}
canvas {
    width: 100%;
    height: 300px;
    background-color: #035;
}