i {
    display: inline-block;
    width: 1em;
}

&[disabled] {
    background: #0000;
    &>.track {
        opacity: 0;
    }
    border-radius: 0;
    color: #999;
}

&.line,
&[line] {
    box-shadow: none;

    >.track {
        display: none;
    }

    line-height: 0;
    font-size: 0;

    &:after {
        content: "";
        display: block;
        border-bottom: 1px solid;
        opacity: .36;
        margin: 0 -20px;
    }
}