& {
    word-break: break-all;
    display: inline-block;
}

&[type=select] {
    position: relative;

    >.select:hover,
    >.select:active {
        &+.placeholder {
            color: #fff9;
        }
    }

    .placeholder {
        color: #0009;
        padding-left: 16px;
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        margin-bottom: -1em;
        z-index: 1;
        pointer-events: none;
        display: block;
    }

    .select[empty] {
        color: transparent;
    }

}

&[type=date] {
    >input {
        width: 8em;
        cursor: default;
    }
}

&[type=gen] {
    font-size: 14px;
}

&[type=datetime] {
    >input {
        width: 10em;
        cursor: default;
    }
}

&[type=int],
&[type=number],
&[type=digit],
&[type=money],
&[type=price],
&[type=num] {
    >input {
        text-align: right;
        width: 8em;

        +span {
            pointer-events: none;
        }
    }
}

@u(@l) {
    @w: @{l}em/2 + .5em;

    &[u@l] {
        >input {
            margin-right: -@w;
            padding-right: @w+.2em;
        }
    }
}

@u(1);
@u(2);
@u(3);
@u(4);
@u(5);
@u(6);