&>.container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: #333;
    right: 0;
    >.head {
        text-align: start;
        position: absolute;
        font-size: 16px;
        padding-left: 16px;
        left: 0;
        width: 61px;
        height: 100%;
        top: 0;
        bottom: 0;
        background-color: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;
    }
    &.has-next>.body {
        padding-right: 40px;
    }
    >.body {
        position: absolute;
        right: 0;
        left: 60px;
        top: 0;
        bottom: 0;
        height: 100%;
        width: auto;
        font-size: 16px;
        padding-left: 1px;
        padding-right: 16px;
        text-align: right;
        overflow: hidden;
    }
    >.foot {
        position: absolute;
        right: 0;
        min-width: 40px;
        top: 0;
        bottom: 0;
        text-align: right;
        padding-right: 16px;
        height: 100%;
        >.next {
            height: 16px;
            width: 16px;
            top: 50%;
            margin-top: -8px;
            position: absolute;
            right: 10px;
        }
    }
}

& {
    width: 100%;
    position: relative;
    background: #fff;
    height: 50px;
    line-height: 50px;
    box-shadow: none;
}

&+& {
    >.container>.body {
        border-top: 1px solid #ccc;
    }
}

&.active {
    >.container>.body {
        border-top-color: transparent;
    }
}

&.active+& {
    >.container>.body {
        border-top-color: transparent;
    }
}