@keyframes flash-opacity {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }
}

& {
    &:focus {
        outline: 1px solid #00f;
        outline-offset: 1px;
    }

    -webkit-appearance: textfield;
    background-color: #fff;
    display: inline-block;
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;

    >insert {
        display: inline;
        border: 1px solid;
        opacity: 0;
        white-space: nowrap;
    }

    >holder {
        color: #777;
    }

    >input {
        font-size: 0;
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
        opacity: 0;
        width: 0 !important;
    }

    >input:focus+insert {
        animation: flash-opacity 1s linear 0s infinite;
    }
}