@keyframes flash-opacity {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

& {
    &:focus {
        outline: 1px solid blue;
        outline-offset: 1px;
    }
    -webkit-appearance: textfield;
    background-color: white;
    display: inline-block;
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    height: 36px;
    line-height: 36px;
    >insert {
        display: inline;
        border: 1px solid;
        opacity: 0;
    }
    >holder {
        color: #777;
    }
    &:focus>insert {
        animation: flash-opacity 1s linear 0s infinite;
    }
}