@import "bggrid-func.less";
& {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    background-color: #000;
}

&[grid],
&.grid,
&[type=grid] {
    .grid();
}

&+.mask {
    background: #fff;
    opacity: .5;
}

>div {
    height: 100%;

    >[imgpic] {
        position: absolute;
        pointer-events: none;
        .grid();
    }

    >.adv {
        color: #fff9;
        vertical-align: top;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }

    &:after {
        content: "";
        display: block;
        left: -1px;
        top: -1px;
        bottom: -1px;
        right: -1px;
        width: auto;
        height: auto;
        pointer-events: none;
        position: absolute;
    }
}