tip {
    display: block;
    font-size: 12px;
    color: #c24;
}

[error] {

    >input {
        background: #c241;
        border-color: #c24;
    }
}

>[body],
>.body {
    height: 100%;
    >[textarea] {
        height: 100%;
    }

    >.编辑框 {
        margin: 0 -16px;
        width: auto;
        height: 100%;
        >list{
            min-height: auto;
        }
    }
}
textarea,
[textarea] {
    width: 100%;
    resize: none;
    border: 1px solid #ddd;

    &:focus {
        border-color: #09c;
        outline: none;
    }
}

>[body],
>.body {}

[textarea] {
    min-height: 80px;
}


input {
    width: 100%;
}