tip {
    display: block;
    font-size: 12px;
    color: #c24;
}

[error] {

    >input {
        background: #c241;
        border-color: #c24;
    }
}

[body],
.body {
    >div {
        height: 100%;
    }
}

textarea,
[textarea] {
    width: 100%;
    resize: none;
}

>[body],
>.body {
    max-height: 360px;
}

[textarea] {
    min-height: 80px;
}

& {
    min-height: 130px;
}

input {
    width: 100%;
}