>a {
    margin-right: 10px;
    vertical-align: top;
    >r {
        display: inline-block;
        height: 1em;
        width: 1em;
        border-radius: 50%;
        border: .1em solid;
        position: relative;
        vertical-align: middle;
        margin-right: 4px;

        >s {
            display: none;
            border-radius: 50%;
            border: .2em solid;
            width: .4em;
            height: .4em;
            position: absolute;
            margin: -.2em;
            top:50%;
            left: 50%;
        }
    }
    >span{
        vertical-align: middle;
    }

    &.activate {
        >r {
            >s {
                display: block;
            }
        }
    }
}