>scroll-side {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: -1px;
    right: -1px;
    pointer-events: none;
    width: auto;
    height: auto;
    outline-offset: 2px;
}

& {
    position: absolute;
    border-radius: 7px;

    &[x],
    &.x {
        left: 0;
        height: 12px;
        width: 100px;
        bottom: 0;
    }

    &[y],
    &.y {
        border-left: 3px solid transparent;
        top: 0;
        height: 100px;
        width: 10px;
        right: 0;
    }

    &:hover,
    &:active {
        >.thumb {
            opacity: 1 !important;
            overflow: visible;
        }
    }

    >.thumb {
        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -4px;
            right: -4px;
            width: auto;
            display: block;
            content: "";
        }

        transition: opacity .2s;
        position: absolute;
        border-radius: 7px;
        height: 100%;
        width: 100%;
        background-color: #09c;

        &:active {
            background-color: #058;
        }

        &:hover,
        &:active {
            +scroll-side {
                outline: 1px solid #000;
            }
        }
    }
}