& {
    background: #fff;
}

select& {
    border: 1px solid #00000033;
    -webkit-appearance: none;
    appearance: none;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    outline: none;
    font-size: inherit;
    display: inline-block;

    &:focus,
    &[focus] {
        border-color: #29c;
    }

    &::-ms-expand {
        display: none;
    }

    &:hover {
        color: #fff;
        background-color: #2ca2f9;
    }

    &:active {
        color: #fff;
        background-color: #1c82c9;
    }

    &[iconed] {
        background-repeat: no-repeat;
        background-size: auto 16px;
        background-position-x: 8px;
        background-position-y: 50%;
        padding-left: 36px;
    }
}

model>& {
    width: 100%;
}

&[empty] {
    color: #0009;

    &:hover,
    &:active {
        color: #fff9;
    }
}