& {
    max-width: 100%;
    background-color: #fff;
    line-height: 30px;
    box-shadow: 0 0 20px -6px rgba(0, 0, 0, .3);
    >div {
        cursor: default;
        padding: 0 16px;
        &[selected] {
            color: #0053c9;
        }
        &:hover {
            background-color: rgb(44, 162, 249);
            color: #fff;
        }
    }
}