&.dragging {
    >thead,
    >tbody,
    & {
        >tr {
            >th,
            >td {}
        }
    }
}

thead,
tbody,
th,
td,
tr,
table {
    box-sizing: border-box;
}

.y-ing {
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .1);
    }
}

& {
    text-align: center;
    line-height: 40px;
    border-collapse: collapse;
    >thead {
        user-select: none;
        >tr {
            >td,
            >th {
                position: relative;
                color: #fff;
                background-color: #999;
                width: 100px;
            }
        }
    }
    >tbody {
        >tr {
            >td,
            >th {
                position: relative;
                width: 100px;
            }
        }
        >tr:nth-child(even) {
            >td,
            >th {
                background-color: #ccc;
            }
        }
        >tr:nth-child(odd) {
            >td,
            >th {
                background-color: #fff;
            }
        }
    }
}