& {
    color: #ffffff;
    opacity: 0.98;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    background-color: #333336;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    border: 1px solid #18333c;
    background-color: #18333c;
    box-shadow: inset 0 0 6px #51ddf6, inset 200px -160px 200px -200px #51ddf6;
    >label{
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 10px;
        display: block;
    }
}

&>.btn {
    position: absolute;
    background-color: transparent;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 60px;
}