& {
    height: 100%;
    background: #222d32;
    color: #fff;

    >[node] {
        display: block;
        text-align: left;
        height: auto;
        background-color: inherit;
        color: inherit;
        padding-right: 10px;
        box-shadow: none;

        &.line,
        &[line] {
            box-shadow: none;
            line-height: 0;

            >.track {
                display: none;
            }
        }
    }
}

.count {
    &:before {
        content: "（ ";
    }

    &:after {
        content: " ）";
    }

    margin: 0 10px;
    color: #ccc;
    display: none;
}

.closed .count {

    display: inline-block;
}


t {
    display: inline-block;
    width: 16px;
}

&[arrow] {

    .closed,
    .open {
        c:before {
            content: "";
            display: inline-block;
            border: .3em solid transparent;
        }
    }

    .closed c:before {
        border-left: .4em solid;
        border-right: .2em solid transparent;
    }

    .open c:before {
        margin-left: -.2em;
        margin-right: .2em;
        margin-top: .2em;
        
        border-top: .4em solid;
        border-bottom: .2em solid transparent;
    }
}