& {
    height: 100%;
    >div {
        display: block;
        text-align: left;
        height: auto;
        background-color: inherit;
        color: inherit;
    }
}

t {
    display: inline-block;
    width: 16px;
}