& {
    height: 100%;
    background: #222d32;
    color: #fff;

    >[node] {
        display: block;
        text-align: left;
        height: auto;
        background-color: inherit;
        color: inherit;
        padding-right: 10px;
        box-shadow: none;

        &.line,
        &[line] {
            box-shadow: none;
            line-height: 0;

            >.track {
                display: none;
            }
        }
    }
}

.count {
    &:before {
        content: "（ ";
    }

    &:after {
        content: " ）";
    }

    margin: 0 10px;
    color: #ccc;
    display: none;
}

.closed .count {

    display: inline-block;
}


t {
    display: inline-block;
    width: 16px;
}