& {
    padding: 46px 0 4px 0;
    max-width: 100%;
    width: 360px;
    height: auto;
    box-sizing: border-box;
    overflow: auto;
}

&>.body {
    padding: 10px 0;
    background: #f2f4f6;
    display: block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

&>.body:nth-child(2) {

    &:nth-last-child(2),
    &:nth-last-child(1) {
        height: 100%;
    }
}

&>.head {
    background: #fff;
    z-index: 1;
    margin-top: -46px;
    position: relative;
    line-height: 40px;
    color: #333;
    padding: 2px 16px 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .16);
}

&>.foot {
    white-space: nowrap;
    overflow: auto;
}

&>.foot {
    text-align: right;
    line-height: 46px;
    padding: 0 16px;
    border-top: 1px solid rgba(0, 0, 0, .16);
    background: #fff;

    .button {
        padding: 0 20px;
        min-width: 60px;
        vertical-align: middle;

        &+.button {
            margin-left: 10px;
        }
    }
}
