& {
    position: absolute;
    width: 800px;
}


>[body]>div {
    display: inline-block;
    vertical-align: top;
    overflow: auto;
    font-size: 12px;

    >jscode,
    >pre {
        height: 100%;
    }

    &.top {
        left: 0;
        top: 0;
        width: 100%;
    }

    &.left,
    &.right {
        height: 100%;
        width: 50%;
    }

    &.right {
        background: #000;
        color: #fff;
    }

    &.error {
        color: #c26;
    }
}