data/shared.json
node_modules/
nbproject/
demos/
apps/fc/
apps/cityfun/
coms/cityfun/
apps/yjkj/
apps/daxia/
coms/xsy
coms/i-theme
gulpfile.js
public/
public.bat
tools/node_modules/
data/count.json
tools/zanme.js
tools/prebuilds/
process/asm/
*.tgz
*.log
*.scr
report.*
test/arch/*.exe
test/arch/*.obj
test/arch/*.tmp
test/arch/*.res
test/arch/RC*
test/arch/'**
*_temp.js
*_temp/
*.exe
*.dll
*.elf
*.so
*.a