<div class="menu-items">
    <btn class="menu-item menu-switch" ng-click=switchMenu()>
        <i class="fa fa-bars"></i>
    </btn>
    <btn class="menu-item" pop>
        <i class="fa fa-envelope"></i>
        <span class="badge">4</span>
    </btn>
    <btn class="menu-item" pop>
        <i class="fa fa-bell"></i>
        <span class="badge blue">4</span>
    </btn>
    <btn class="menu-item" pop>
        <i class="fa fa-tasks"></i>
        <span class="badge blue1">8</span>
    </btn>
</div>
<div class="option-items">
    <btn ng-click=logout()>退出<i class="fa fa-sign-out"></i></btn>
</div>