<div ng-click="go('/user/profile')" class=user-info >
    <div><img src=images/avatar.png class=avatar /></div>
    <div class=info>
        <div ng-if=user.isLogin class=name ng-bind=user.name>不枝雀</div>
        <div class=level>LV.5</div>
    </div>
</div>
<div class=music-info>
    <btn ng-click="go('/files/main')"><i>&#xe610;</i>${i18n({zh:'本地音乐',en:'Local'})}</btn>
    <btn ng-click="go('/collection/main')"><i>&#xe616;</i>${i18n({zh:'我的收藏',en:'Favourite'})}</btn>
    <btn><i>&#xe606;</i>${i18n('下载','Downloads')}</btn>
    <btn><i>&#xe64d;</i>${i18n('最近','Recent')}</btn>
</div>
<div class=button-group>
    <btn><i style=background-color:#ffbd0d;>&#xe62c;</i>${i18n("乐库",'Store')}</btn>
    <btn><i style=background:#2bcda2;>&#xe68c;</i>${i18n('歌单','List')}</btn>
    <btn><i style=background:#3ab5f7;>&#xe6df;</i>${i18n('电台·酷群','Radio')}</btn>
    <btn><i style=background:#e76ce8;>&#xe634;</i>${i18n('猜你喜欢','Lovely')}</btn>
    <btn><i style=background:#ff6565;>&#xeb85;</i>${i18n('每日推荐','Recommend')}</btn>
    <btn><i style=background:#ff852c;>&#xe603;</i>${i18n('音乐圈','Moments')}</btn>
</div>