<div ng-click="go('/user/profile')" class=user-info>
    <div>${avatar}</div>
    <div class=info>
        <div ng-if=user.isLogin class=name ng-bind=user.name>不枝雀</div>
        <div class=level>LV.5</div>
    </div>
</div>
<div class=music-info>
    <btn ng-click="go('/files/main')"><i>&#xe610;</i>${i18n({zh:'本地音乐',en:'Local'})}</btn>
    <btn ng-click="go('/collection/main')"><i>&#xe616;</i>${i18n({zh:'我的收藏',en:'Favourite'})}</btn>
    <btn ng-click="go('/extra/pending',this.innerText)"><i>&#xe606;</i>${i18n('下载','Downloads')}</btn>
    <btn ng-click="go('/extra/pending',this.innerText)"><i>&#xe64d;</i>${i18n('最近','Recent')}</btn>
</div>
<group>
    <option  ng-click="go('/extra/pending',this.innerText)">
        <div>直播</div>
        <div>
            <avatar></avatar><span>林儿初新年快乐</span> <span>直播中</span>
        </div>
        <div><i></i></div>
    </option>
    <option ng-click="go('/extra/pending',this.innerText)">
        <div>已购音乐</div>
        <div>单曲1首</div>
    </option>
    <option ng-click="go('/extra/pending',this.innerText)">
        <div>
            K歌作品
        </div>
    </option>
    <option ng-click="go('/extra/pending',this.innerText)">
        <div>
            音乐圈
        </div>
    </option>
    <option ng-click="go('/extra/pending',this.innerText)">
        <div>
            自建歌单
        </div>
    </option ng-click="go('/extra/pending',this.innerText)">
    <option ng-click="go('/extra/pending',this.innerText)">
        <div>
            收藏歌单
        </div>
    </option>
    <option ng-click="go('/extra/pending',this.innerText)">
        <div>
            推广
        </div>
        <div>好音质，长续航，跪步专用耳机</div>
    </option>

</group>