input {
    height: 55px;
    width: 200px;
    display: inline-block;
    line-height: 55px;
    font-size: 24px;
    margin: 0;
}
& {
    height: 1000px;
    >div.left-bar {
        top: 50px;
        bottom: 0;
        height: auto;
        left: 0;
        position: absolute;
        display: block;
        width: 200px;
        background: red;
        color:#fff;
        >div{
            width: auto;
            box-shadow: none;
            border-radius: 0;
            margin: 0;
            width: 100%;
            position: relative;
            text-align: left;
        }
        i{
            color: yellow;
        }
        b{
            font-weight: normal;
        }
        >.tab1{
            height: 36px;
            line-height: 36px;
            border-left: 5px solid #009E94;
            padding: 0 10px;
            background-color: #333;
        }
        >.tab2+.tab2{
            border-top: 1px solid #6e6e6e;
        }
        >.tab2{
            height: 32px;
            line-height: 31px;
            background-color: #666;
        }
    }
    >.name-area {
        position: absolute;
        top: 50px;
        height: 50px;
        left: 200px;
        right: 0;
        >div {
            display: inline-block;
            vertical-align: top;
        }
    }
    >.main-area {
        top: 100px;
        background-color: #2cc;
        left: 200px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    padding-top: 50px;
}