.clusters a {
    display: inline-block;
    margin-right: 20px;
    padding: 0 6px;
}

.time {
    color: #bbb;
}

.button.current {
    background: #28c;
    color: #fff;
}
btn{
    padding: 0 16px;
}