& {
    padding-top: 50px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: inherit;
}

.button {
    padding: 0 10px;
}

.empty {
    color: #666;
    display: block;
    padding: 50px 10px;
    text-align: center;
}

&+.titlebar {
    >.loading {
        position: absolute;
        height: 44px;
        top: 0px;
        right: 60px;
        line-height: 44px;
        text-align: right;
        vertical-align: middle;
        width: auto;

        &:after {
            content: "⇵";
        }
    }

    >btn {
        right: 0;
    }

    ::-moz-input-placeholder {
        color: #fffc;
    }

    ::-ms-input-placeholder {
        color: #fffc;
    }

    ::-webkit-input-placeholder {
        color: #fffc;
    }

    >.input {
        vertical-align: middle;
        text-align: center;
        background: #00000011;
        transition: background-color .1s;
        color: #fff;


        &:focus {
            background: #00000066;
            text-align: left;
        }

    }
}

.titlebar {
    padding: 0 60px;
    >input {
        height: 30px;
        border: none;
        width: 100%;
        border-radius: 3px;
        background: #000c;
        font-size: 14px;
        padding: 0 10px;
        color: #fff;
    }
}

.history{
    btn{
        background: #5769;
        padding: 0 16px;
    }
}