<div class=userinfo>
    <img class="avatar" ng-click=editavatar() ng-src="user.avatar" />
    <div class="name" ng-bind=user.name>不枝雀</div>
    <div class="info">兰考县 90后 天秤座</div>
</div>
<group>
    <option title='我的会员' content='清凉一夏·领取会员福利'></option>
    <option title='积分充值' content='8041'></option>
    <option title='我的账户' content=''></option>
</group>
<group>
    <option title="通讯录"></option>
    <option title="分享"></option>
</group>
<group>
    <option title="访客"></option>
    <option title="喜欢我"></option>
</group>
<group>
    <option title="魅力"></option>
    <option title="我的礼物"></option>
</group>
<group>
    <option title="房车号"></option>
    <option title="社交账号" content="QQ:WeChat"></option>
</group>
<group>
    <option title="设置" ng-click='go("setting")'></option>
</group>
<group>
    <option title="退出" ng-click='logout()'></option>
</group>