@height: 420px;
@width: 480px;
@margin-top: -160px;
@margin-left: -180px;

& {
    margin: @margin-top @margin-left;
    top: 50%;
    left: 50%;
    width: @width;
    height: @height;
    position: absolute;
    border: 1px solid #000;
    box-shadow: 0 0 20px -6px #0003;
    min-width: 200px;
    min-height: 200px;
    max-width: 100%;
    max-height: 100%;
}

padding {
    display: block;
    position: relative;

    &:after {
        display: "";
        display: block;
        clear: both;
    }
}

msg {
    display: block;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 20px;
    white-space: normal;
    word-break: break-all;
    background: #fff;
    position: relative;
    margin: 0 10px;
    float: left;

    &:before {
        content: "";
        display: block;
        position: absolute;
        border: 6px solid transparent;
        top: 22px;
        margin: -12px;
    }

    &:not([self]):before {
        display: block;
        left: 0;
        border-right-color: #fff;
    }

    &[self] {
        &:before {
            right: 0;
            border-left-color: #77ddaa;
        }

        margin-left: 20px;

        float: right;
        background-color: #77ddaa;
        color: #333;
    }
}


>[head] {
    padding: 9px 16px;
    line-height: 24px;
}

>grid[body] {
    padding-top: 0;
    margin-bottom: 0;

    >div {
        height: 100%;
        position: relative;
    }
}


.editor-height(@height) {
    >grid[body]:not(:last-child) {
        padding-bottom: @height;
    }

    [textarea] {
        margin-bottom: -@height;
        height: @height;
    }
}

chat {
    height: 100%;
}

.editor-height(96px);

[textarea] {
    display: block;
    position: relative;
    resize: none;
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    border-top: 1px solid #000;
    border-bottom: 28px solid transparent;
    ime-mode: active;
    overflow: auto;

    >div {
        height: auto;
        min-height: 52px;
        width: 100%;
        vertical-align: top;
        padding: 6px 16px;
        box-sizing: border-box;
        outline: none;
    }
}

>[foot] {
    pointer-events: none;
    background: transparent;
    backdrop-filter: none;
    box-shadow: none;
    box-shadow: none;
    border-top: none;

    >btn {
        pointer-events: all;
    }
}


.max-size() {
    margin-top: 0 !important;
    top: 0 !important;
    height: 100% !important;
    margin-left: 0 !important;
    left: 0 !important;
    width: 100% !important;
    border: none;
    .editor-height(36px);

    [textarea] {
        border-bottom: none;
        outline: none;

        >div {
            min-height: 30px;
            padding-right: 110px;
        }
    }
}

@media(max-height: @height) {
    & {
        .max-size();
    }
}

@media(max-width: @width) {
    & {
        .max-size();
    }
}