<div class="menu-items">
    <btn class="menu-item menu-switch" ng-click=switchMenu()>
        <i class="fa fa-bars"></i>
    </btn>
    <btn ng-if="fullscreen.is()" ng-click="fullscreen.exit(alert)" class="menu-switch menu-item">
        <i class="fa fa-compress"></i>
    </btn>
    <btn ng-if="fullscreen.allow&&!fullscreen.is()" ng-click=fullscreen.exec() class="menu-switch menu-item">
        <i class="fa fa-expand"></i>
    </btn>
    <btn class="menu-item menu-switch" ng-click="route.reload()">
        <i class="fa fa-refresh" ng-class="{'fa-pulse':data.loading_count>0}"></i>
    </btn>
    <btn class="menu-item" @title="option.name" ng-click="open(option)" ng-repeat="option in options" pop>
        <i class="fa" ng-class="option.icon"></i>
        <span class="badge" ng-if="option.tip" ng-bind="option.tip"></span>
    </btn>
</div>