& {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.bottom-bar {
    text-align: center;
    position: absolute;
    padding: 24px 64px 0 64px;
    top: 0px;
    right: 0;
    left: 0;
    height: 64px;
    width: auto;
    margin: 0;
    background-color: #0090ff;
    color: rgba(255, 255, 255, .8);
    >div {
        bottom: 0;
        font-size: 18px;
        position: relative;
        height: 40px;
        line-height: 40px;
        vertical-align: top;
        &.active {
            color: #fff;
            font-size: 20px;
            text-shadow: 0 0 2px #fff;
        }
        &.line {
            &:before {
                content: "";
                position: absolute;
                margin-top: ~'-1.0px';
                height: ~"1.0px";
                width: 30px;
                left: 50%;
                margin-left: -15px;
                top: 0;
                background-color: #fff;
            }
        }
    }
}

.slider {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 64px;
    bottom: 0px;
    height: auto;
}