& {
    font-size: 16px;
}

.list {
    padding: 50px 0 5px 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    >div {
        background-color: #fff;
        width: 100%;
        padding: 10px 15px;
    }

    >div+div {
        border-top: 1px solid #ccc;
    }
}
.padding{
    max-width: 100%;
}