<div class="background" ng-style="{'background-image':info.avatarUrl}"></div>
<container -src="activeList"></container>
<div class="progress" ng-style="currentProcess">
    <div class="track"></div>
    <div class="avatar"></div>
</div>
<div class="track"></div>
<div class="avatar" ng-style="{'background-image': info.avatarUrl,transform:currentRotate}"></div>
<btn class="play"></btn>
<div class="time">
    <span ng-bind="currentTime"></span>
</div>
<div class="total">
    <span ng-bind="totalTime"></span>
</div>
<div class="song" ng-bind=getSongName()></div>
<div class="singer" ng-bind=getSingerName()></div>
<btn class="prev" ng-click=play(index-1)></btn>
<btn class="next" ng-click=play(index+1)></btn>
<!-- <sbtn class="list"></sbtn> -->
<krc elementid=krcpad></krc>
<canvas elementid="dance"></canvas>
<div class="avatar" ng-click="playing?pause():play()" ng-click="effectPage()"></div>