& {
    height: auto;
    line-height: 28px;
    padding: 10px 10px 0 20px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #202226;
    color: #fffc;
    border-radius: 30px;

    border: 2px solid transparent;

    &:hover {
        border-color: #999;
    }

    &:active {
        border-color: #ccc;
    }
}

>.logo {
    width: 52px;
    height: 52px;
    font-size: 0;
    margin: -10px -2px -10px -20px;
    border-radius: 50%;
    border: 6px double #323336;
    z-index: 1;
    position: relative;
    transition: border-width .2s;
    background-clip: border-box;

    &+.singer+.song,
    &+.song {
        margin-left: -32px;
        padding-left: 46px;
        display: inline-block;
        vertical-align: top;

    }

    &+.singer {
        padding-left: 28px;
    }

}

&.activate {
    >.logo {
        // border-color: #acb;
        border-width: 3.6px;
        background-clip: content-box;
        outline: 1.2px solid #acb;
        outline-offset: -1.2px;
    }

    png {
        filter: none;
    }

    &.error {
        >.logo {
            border-color: #c26;
        }
    }
}

&.imgonly {
    padding: 0;
    line-height: 0;
    font-size: 0;
    height: auto;

    >:not(png) {
        display: none;
    }

    >.logo {
        border: none;
        padding-bottom: 100%;
        height: 0;
        font-size: 0;
        line-height: 0;
        width: 100%;
        margin: 0;
    }
}

.types {
    display: inline-block;
    padding: 0 6px;
    margin: 0 -6px;

    >i {
        display: inline-block;
        width: 1em;
        height: 1em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 6px;
        z-index: 1;
        cursor: pointer;
        vertical-align: middle;
        position: relative;
        font-style: normal;

        &[priced] {
            filter: grayscale(.9);
        }

        &.actived {
            outline-offset: 2px;
            outline: 1px solid;
        }

    }

    [type=kugo] {
        background-image: url("icons/kugo.ico");
    }

    [type=kuwo] {
        background-image: url("icons/kuwo.png");
    }

    [type=yyyy] {
        background-image: url("icons/yyyy.ico");
    }

    [type=qqjt] {
        background-image: url("icons/qqjt.ico");
    }
}

&[group]>.song {
    white-space: normal;

    >span {
        display: inline-block;
    }
}

>.song {
    line-height: 28px;
    padding-top: 2px;
    padding-bottom: 12px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;

    >span {
        margin-right: 6px;
        vertical-align: top;
    }
}

b {
    border: 1.2px solid #288833;
    font-weight: normal;
    background: #2836;

}

>.singer {
    position: absolute;
    left: 26px;
    top: 6px;
    // right: 10px;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    color: #fff9;

    &+.song {
        padding-top: 12px;
        padding-bottom: 2px;
    }
}

png {
    filter: brightness(.7) contrast(.9);
}

>.play-state {
    position: absolute;
    bottom: 0;
    right: 2px;
    left: 2px;
    display: block;
    border-bottom: 1.2px solid #323336;
    height: 30px;
    border-radius: 0px 0 26px 26px;
    overflow: visible;
    padding: 0 16px 0 26px;

    >div {
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        border-bottom: 1.2px solid #acb;
        margin-bottom: -1.2px;
    }

    &.error {
        border-color: #c26;

        >div {
            display: none;
        }
    }
}