<bg></bg>
<div refresh class="play-state" -if="isActived()" ng-class={error:playState.error}>
    <div ng-style="{width:playState.width}"></div>
</div>
<png class="logo" ng-if="song.imgurl" ng-src=song.imgurl></png>
<div class="singer" ng-if="song.singer" ng-html=song.singerMarked></div>
<div class="song" style:="{whiteSpace:song.items?'normal':'nowrap'}">
    <span ng-html=song.songMarked></span>
    <span class="types" -if="song.items" refresh>
        <i type_="s.type" ng-class="{actived:musicList.isActived(s)}" priced_="!!s.priced" @click="event.stopPropagation(),play(s)" -repeat="s in song.items"></i>
    </span>
</div>
<div -bind="filterTime(song.timeLength)"></div>