& {
    line-height: 28px;
}

progbar {
    width: 120px;
}

btn {
    padding: 0 16px;
    vertical-align: top;
    margin-left: 20px;
}

padding {
    display: block;
    color: #666;
    .button {
        margin: 0;
    }

    >span {
        vertical-align: top;
        &:first-child {
            // width: 120px;
        }
        >div{
            line-height: 1.2;
            font-size: 12px;
        }
        display: inline-block;
        color: #333;
        margin-right: 10px;
    }
}