<form ng-submit="login()" onsubmit="event.preventDefault()">
    <div class="bg"></div>
    <div>
        ${avatar}
        <name readonly placeholder=${i18n`name`} ng-model='username'></name>
        <pswd placeholder=${i18n`password`} ng-model='password'></pswd>
        <button type="submit" ng-if='!login.ing'>
            <span ng-if='!username'>${i18n(`游客`, "Guest")}</span>${i18n`login`}</button>
        <button ng-if='login.ing' class='busy'>
            <span ng-if='!username'>${i18n(`游客`, "Guest")}</span>${i18n('登录中', 'Logon')}</button>
    </div>
</form>